
<div class="flex">
    <li  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Hoşgeldin {{getUserInfo().firstName}} {{getUserInfo().lastName}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a (click)="signOut()" class="dropdown-item">Çıkış yap</a></li>
        </ul>
    </li>
    
</div>

